#!/usr/bin/make -f
# Simplified Debian rules for the SDL-only Thrust port.

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

build: build-stamp
build-stamp:
	dh_testdir
	dh_testroot
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

binary-indep: build

binary-arch: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs usr/share/man/man6 var/games usr/share/pixmaps
	$(MAKE) DEB=debian/tmp install
	$(MAKE) DEB=debian/tmp install-man
	-rm -f debian/menu
	touch debian/menu
	if [ -x debian/tmp/usr/games/sdlthrust ] ; then \
		echo "?package(thrust):needs=\"x11\" section=\"Games/Arcade\" title=\"Thrust (SDL)\" command=\"/usr/games/sdlthrust\" icon=\"/usr/share/pixmaps/thrust.xpm\"" >> debian/menu ;\
	fi
	mkdir -p debian/tmp/usr/share/lintian/overrides
	cp debian/thrust.lintian debian/tmp/usr/share/lintian/overrides/thrust
	cp debian/thrust.xpm debian/tmp/usr/share/pixmaps/thrust.xpm
	dh_installdocs README TODO
	dh_installexamples
	dh_installmenu
	dh_installcron
	dh_installmanpages
	dh_installchangelogs CHANGES
	dh_strip
	dh_compress
	dh_fixperms
	-chown root.games debian/tmp/usr/games/sdlthrust
	-chmod g+s debian/tmp/usr/games/sdlthrust
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
